{{!-- <article class="collectie">
    <h2>{{this.collectie.title}}</h2>
    <h3>{{this.collectie.type}}</h3>
    <h4>Beschrijving:</h4>
    <p>{{this.collectie.description}}</p>
    <img src={{this.collectie.img}} alt="">
</article> --}}