<div class="container">
  <div class="nav">
    {{#link-to "index"}}
    <a href="collectie.hbs" class= "logo">
      Film&Foto collectie
    </a>
    <button class="menu__btn">
        <span class="menu__label">MENU</span>

        <div class="menu--hidden">
            <div class="menu__bg-layer menu__bg-layer-2"></div>
            <div class="menu__bg-layer menu__bg-layer-1"></div>
            <div class="menu__container">
                <span class="menu__title">Menu</span>
                <ul class="menu__list">
                    <li class="menu__item"><a href="collectie.hbs">Collectie</a></li>
                    <li class="menu__item"><a href="about.hbs">Over ons</a></li>
                    <li class="menu__item"><a href="opgeslagen.hbs">Opgeslagen<span id="dllinkSmall" class="dllink"></span></a></li>
                    <li class="menu__item"><a href="list-filter">Zoeken<span id="likecountSmall" class="likecount"></span></a></li>
                </ul>
            </div>
        </div>
    </button>
    {{/link-to}}
    <div class="links">
      {{#link-to "collectie" class="menu-about"}}
      Collectie
      {{/link-to}}
      {{#link-to "about" class="menu-contact"}}
      Over ons
      {{/link-to}}
      {{#link-to "opgeslagen" class="menu-contact"}}
      Opgeslagen
      {{/link-to}}
      {{#link-to "about" class="menu-contact"}}
      Zoeken
      {{/link-to}}
      
    </div>
  </div>
  {{!-- <div class="body">
  </div> --}}
</div>
{{outlet}}