<div class="container">
  <div class="nav">
    {{#link-to "index"}}
      <h1>
        Film/Foto collectie
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "collectie" class="menu-about"}}
        Collectie
      {{/link-to}}
      {{#link-to "about" class="menu-contact"}}
        Over ons
      {{/link-to}}
	  {{#link-to "opgeslagen" class="menu-contact"}}
        Opgeslagen
      {{/link-to}}
	  {{#link-to "about" class="menu-contact"}}
        Zoeken
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>